@charset "UTF-8";
/* CSS Document */

body {
  color:#999;
  font:15px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#000;
  text-align:center;
  margin:0;
}
a { color:#ba9a52; }
object,
embed {
  outline:none;
}
h2 {
  border-bottom:1px solid #333;
  font-family:"PlugNickel",Arial,sans-serif;
  font-size:28px;
  font-weight:normal;
  letter-spacing:2px;
  margin:50px 0 30px;
  padding-bottom:15px;
}
h3 {
  font-family:"PlugNickel",Arial,sans-serif;
  font-size:18px;
  font-weight:normal;
  letter-spacing:2px;
  margin:50px 0 20px;
}

@font-face {
  font-family:'PlugNickel';
  src: url('Plug-NickelBlack-webfont.eot');
  src: url('Plug-NickelBlack-webfont.eot?#iefix') format('embedded-opentype'),
       url('Plug-NickelBlack-webfont.woff') format('woff'),
       url('Plug-NickelBlack-webfont.ttf') format('truetype'),
       url('Plug-NickelBlack-webfont.svg#PlugNickel') format('svg');
  font-weight:normal;
  font-style:normal;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

/* TOP HAT
* ------------------------------- */
#tophat {
  width:990px;
  height:175px;
  text-align:left;
  margin:0 auto;
  position:relative;
}
#tophat h1 {
  padding:0;
  margin:0;
  position:absolute;
  left:25px;
  top:0;
}
#tophat h1 a {
  display:block;
  text-indent:-10000px;
  overflow:hidden;
  width:190px;
  height:164px;
}
#tophat .ad {
  width:728px;
  height:90px;
  background-color:#000;
  position:absolute;
  right:17px;
  top:7px;
}
#tophat #nav {
  position:absolute;
  height:52px;
  left:243px;
  list-style:none;
  top:108px;
  padding:0;
  margin:0;
}
#tophat #nav li {
  display:block;
  float:left;
  height:50px;
  line-height:50px;
  padding:0 28px 0 38px;
  position: relative;
}
#tophat #nav li:not(:first-child):before {
  content: '•';
  font-size: 2em;
  position: absolute;
  opacity: 0.3;
  left: 0;
}
#tophat #nav li:first-child {
  background:none;
  padding-left:0;
}
#tophat #nav li a {
  font:normal 17px/50px "PlugNickel",Arial,sans-serif;
  letter-spacing:1.5px;
  text-decoration:none;
  text-shadow:2px 2px 2px #000;
}
#tophat #nav li a:hover {
  color:white;
}

/* GAME DISPLAY
* ------------------------------- */
#game {
  background-color:#000;
  border:1px solid #333;
  height:675px;
  margin:0 auto 100px;
  outline:none;
  padding:1px;
  width:900px;
}

ul.lang {
  height: 25px;
  line-height: 25px;
  list-style: none;
  margin: 25px auto;
  padding: 0;
  text-align: right;
  width: 900px;
}
ul.lang li {
  border-left: 1px solid #444;
  margin-left: 5px;
  padding-left: 8px;
  display: inline;
}
ul.lang li:first-child {
  border: none;
}
ul.lang a,
ul.lang .active a:hover {
  color: #999;
  font-size: 11px;
  text-decoration: none;
}
ul.lang a:hover {
  text-decoration: underline;
}
ul.lang .active a {
  cursor: default;
  font-weight: bold;
}

/* PAGE
* ------------------------------- */
#page {
  width:700px;
  margin:75px auto 100px;
  text-align:left;
}
#page p {
  margin:15px 0;
}
#page img.border {
  border:1px solid #333;
  padding:1px;
}
#page img.left {
  float:left;
  margin-right:25px;
}
#page img.right {
  float:right;
  margin-left:25px;
}

#page ul.controls {
  border-top:1px dotted #333;
  padding-left:15px;
}
#page ul.controls li {
  margin:30px 0;
}
#page ul.controls li span {
  font-family:"PlugNickel",Arial,sans-serif;
  font-size:18px;
  font-weight:normal;
  letter-spacing:2px;
}

#page .footnote {
  color:#555;
  font-size:12px;
  margin:50px 0 0;
}
#page .footnote span {
  font-size:15px;
  position:relative;
  top:0.25em;
}

/* Credits List */
#page ul.credits {
  list-style:none;
  padding:0;
}
#page ul.credits li {
  border-bottom:1px dotted #333;
  height:35px;
  line-height:35px;
  position:relative;
}
#page ul.credits cite {
  font-style:italic;
  position:absolute;
  right:0;
}

/* Credits Table */
#page ul.table {
  list-style:none;
  padding:0;
  width:100%;
}
#page ul.table li {
  float:left;
  height:30px;
  line-height:30px;
  width:25%;
}

/* Download links */
#page #download-wmyt {
  background-color:rgba(0,0,0,0.75);
  display:none;
  height:100%;
  left:0;
  position:absolute;
  text-shadow:0 0 10px rgba(0,0,0,1);
  -moz-text-shadow:0 0 10px rgba(0,0,0,1);
  -webkit-text-shadow:0 0 10px rgba(0,0,0,1);
  top:0;
  width:100%;
}
#page #download-wmyt div {
  padding:25px;
}
#page #download-wmyt .close {
  border:1px solid #666;
  color:#666;
  cursor:pointer;
  display:block;
  font:12px/15px Arial,sans-serif;
  height:15px;
  position:absolute;
  right:10px;
  text-align:center;
  top:10px;
  width:15px;
}
#page #download-wmyt .close:hover {
  border:1px solid #ccc;
  color:#ccc;
}
#page #download-wmyt p {
  color:#666;
  margin:0;
}
#page #download-wmyt p.header {
  color:#999;
  font:20px/1.75em "PlugNickel",Arial,sans-serif;
}
#page #download-wmyt p.subhead {
  color:#999;
  font:14px/1.3em Arial,sans-serif;
  margin-bottom:10px;
}
#page #download-wmyt p a {
  font-size:16px;
  line-height:1.4em;
  text-decoration:none;
}
#page #download-wmyt p a:hover {
  text-decoration:underline;
}

/* Promo List */
#page ul.promos {
  list-style:none;
  margin:0;
  padding:0;
}
#page ul.promos li {
  float:left;
  padding-left:29px;
  position:relative;
  width:214px;
}
#page ul.promos li:first-child {
  padding:0;
}
#page ul.promos a.promo {
  display:block;
  text-decoration:none;
}
#page ul.promos a.promo:hover img {
  border:1px solid #666;
}
#page ul.promos a.promo:hover h3 {
  color:#fff;
}
#page ul.promos img {
  background-color:#000;
  border:1px solid #333;
  display:block;
  padding:1px;
}
#page ul.promos h3 {
  font-size:16px;
  margin:10px 0 15px;
}
#page ul.promos p {
  font-size:12px;
}
#page ul.promos ul {
  list-style:outside disc none;
  margin:10px 0 0;
  padding-left:15px;
}
#page ul.promos ul li {
  padding:0;
}


/* Gallery List */
#page ul.gallery {
  list-style:none;
  padding:0;
  width:710px;
}
#page ul.gallery li {
  float:left;
  padding:0 10px 10px 0;
}
#page ul.gallery a {
  border:1px solid #333;
  display:block;
  height:128px;
  padding:1px;
  width:128px;
}
#page ul.gallery a img {
  opacity:0.5;
  transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
#page ul.gallery a:hover img {
  opacity:1;
  transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

/* FOOTER
* ------------------------------- */
#footer {
  background:url("images/footer.png") no-repeat;
  clear:both;
  margin:0 auto 25px;
  min-height:165px;
  padding:15px 0 0;
  text-align:center;
  width:990px;
}
#footer ul {
  font-size:13px;
  list-style:none;
  margin:20px 0 30px;
}
#footer ul li {
  display:inline;
  padding:0 15px;
  border-left:1px solid #333;
}
#footer ul li:first-child {
  border:none;
}
#footer ul li a {
  color:#999;
  text-decoration:none;
}
#footer ul li a:hover {
  text-decoration:underline;
}
#footer p {
  color:#666;
  font-size:11px;
  line-height:1.6em;
}
#footer p a {
  color:#666;
}