@charset "UTF-8";
/* CSS Document */

body {
	color:#b3a58d;
	background:#211f1b url("images/demo_bg.gif") repeat-x;
}

h2, h3 {
  color:#e3d3b8;
}

#tophat {
	background:#000 url("images/tophat.png") no-repeat;
	height:164px;
}

#nav a {
	color:#e3d3b8;
}

#footer {
	background:url("images/footer.gif") no-repeat;
}

.hints {
  margin: 20px 0 40px;
}
  .hints h4,
  .hints p {
  	margin: 0 0 0.5em;
  }
  .hints h4 {
    font-size: 1.1em;
  }
